:root {
  --dark-blue: #0F1B4C;
  --dark-gray: #5A6473;
  --light-gray-100: #7D8589;
  --light-gray-300: #4F5361;
  --light-background: #E6F0FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* Header */

body {
  width: 100vw;
  height: 100vh;
  background: var(--light-background)
}

header {
  height: 110px;
  background-color: #E6F0FF;
  display: flex;
  align-items: center;
}

.container {
  width: 1110px;
}

.navbar {
  width: 1110px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.logo a {
  display: block;
  margin-right: 20px;
  flex: 1;
}

.menu {
  flex: 2;
}

.menu ul {
  display: flex;
}

.menu a {
  font-size: 14px;
  color: var(--light-gray-300);
  padding: 15px;
}

.menu a:hover {
  color: #0F1B4C;
}

.navbar-right {
  text-align: right;
  padding: 10px;
  justify-content: flex-end;
}

.submit {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-blue);

  padding: 10px;
}

.submit:hover {
  color: #fff;
  transition: .2s;
}

.btn {
  font-size: 14px;
  color: #fff;

  width: 98px;
  height: 40px;
  padding: 10px 20px;
  text-align: center;

  background-color: var(--dark-blue);
  border-radius: 8px;
  transition: .2s;
}

.btn:hover {
  filter: brightness(0.9);
}


@media (max-width: 768px) {
  header {
    width: 100%;
  }

  .navbar {
    flex-direction: column-reverse;
  }

  .menu ul {
    flex-direction: column;
    order: 2;
  }

  .logo a {
    padding: 10px;
    order: 3;
  }

  .navbar-right {
    order: 1;
  }
}

/* Main */


.home {
  margin: 0 auto;
  height: 620px;
  display: flex;
}

.left-content {
  max-width: 50%;
  margin: 120px 0px;
  flex: 2;
}

.left-content p {
  font-size: 18px;
  color: var(--light-gray-100);
  margin: 15px 0px;
  line-height: 30px;
  letter-spacing: .5px;
}

.left-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: #000336;
  line-height: 60px;
}

.left-content button {
  background-color: #000336;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.left-content a {
  color: #fff;
}


/* Reviews Section */

.reviews-section {
  width: 100%;
  height: 400px;
  padding-top: 95px;
  background: #fff;
}

.section-container {
  width: 1110px;
  height: 228px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-container p {
  color: var(--light-gray-100);
  margin: 10px 0px;
}

.section-container h1 {
  color: #000336;
}

/* How its works */

.how-works {
  width: 100%;
  height: 585px;
  background: #fff;
}

.how-container {
  width: 685px;
  height: 430px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title:first-child::before {
  content: ''; 
  width: 20px;
  height: 4px;
  border-radius: 5px;
  background: var(--dark-blue);
  position: absolute;
  right: 50%;
}

.title h2 {
  font-size: 35px;
  font-weight: bold;
  color: var(--dark-blue);

  letter-spacing: 1;
  padding-top: 20px; 
}

.title p {
  color: var(--light-gray-100);
  font-size: 16px;

  line-height: 1.5;
  margin: 20px 0px;
}

.seller-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 40px;
  padding: 40px;
}

.seller-type img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.seller-type p {
  color: var(--light-gray-100);

  padding-bottom: 5px;
  letter-spacing: 1;
}

.seller-type a {
  font-size: 14px;
  color: #0689FF;
  padding-right: 5px;
}

.seller-type a:after {
  content: "";
  display: inline-block;

  padding: 15px 0px 0px 15px;
  width: 25px;
  height: 8px;
  position: absolute;

  background: url('/assets/vector.svg') center no-repeat;
}

.gd-link {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.guideline {
  font-size: 14px;
  color: #fff;

  padding: 20px 40px;
  text-align: center;

  background-color: var(--dark-blue);
  border-radius: 8px;
  transition: .2s;
}

/* Properties */ 

.properties {
  width: 100%;
  height: 730px;
  background: var(--light-background);
  display: flex;
}

.prop-container {
  width: 1110px;
  height: 510px;
  margin: 100px auto;
  background-color: tomato;
}

.card-container {
  height: 360px;
  background: #fff;
  display: flex;
  gap: 30px;
}